$text_type : "Arial";
$color_style_bg : rgba(200,200,200,0.9);
$color_style_bg_selected : #8a949c;
$color_border : #000;

$window_content_overflow : true;
$window_max_container_width : 400px;
$window_max_container_height : 300px;